nav {
    background-color: #333333;
    text-align: justify;
    overflow: hidden;
}

body {
    background-image: url("assets/hatterkep.png");
    margin: 0;
    font-family: 'Roboto Slab', courier;
}

#linkedin {
    margin-right: 10%;
}

.navbar a {
    color: #ff0099;
    float: right;
    display: block;
    padding: 20px;
    font-size: 10px;
    font-weight: 500;
    margin: 0 10px;
    text-transform: uppercase;
}


h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

p {
    font-size: 10px;
    line-height: 35px;
    margin-top: 0;
    text-align: justify;
}

.break {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 20px 600px 20px 600px;
}

#logo {
    float: left;
    height: 45px;
    padding: 14px 0 14px 10%;
    align-content: center;
}

.aboutme h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.aboutme h2 {
    font-size: 20px;
}

.technology h1 {
    font-size: 30px;
    text-align: center;
}

.aboutme, .technology {
    padding: 0 10%;
}